<br>
<div class="container mt-5">
    <h1>{{titulo}} </h1>

    <!-- previsualizacion de imagen -->
   <div *ngIf="previsualizacion"> 
  <img [src]="previsualizacion">
  </div>  
  <br>
     <form class="formualrio" [formGroup]="prodForm" (submit)="agregarPeli()">
    <input type="hidden" formControlName = "codigo_prod">
        <div class="container mb-3">

            <input type="text" formControlName="titulo" 
            class="form-control" placeholder="TITULO " required>
        </div>

        <div class="container mb-3">

            <input type="date" formControlName="fecha"  
            class="form-control" placeholder="FECHA ">
        </div>

        <div class="container mb-3">

            <input type="text" formControlName="temporadas" 
            class="form-control" placeholder="PRECIO ">
        </div>

         <div class="container mb-3">
        <input type="text" formControlName="genero" 
            class="form-control" placeholder="TIPO ">
        </div> 

        
        <!-- <div class="container mb-3">
            <label >CATEGORÍAS</label>
          <select  class="form-control"  formControlName="genero">
              <option value="camisas">camisas</option>
              <option value="busos">busos</option>
              <option value="gorras">gorras</option>
              <option value="chaquetas">chaquetas</option>
              <option value="conjutos">conjuntos</option>
          </select> 
        </div>
       -->
        <div class="container mb-3">
              
            <input type="text" formControlName="sinopsis" 
            class="form-control" placeholder="SINOPSIS ">
        </div>


        <!-- carga de imagen -->
      <div class="container mb-3">
       <input (change)="capturarFile($event)" type="file"
        class="form-control" >
    </div>

   
        <div class="container mb-3">
           <button class="btn btn-dark btn-sm"> Enviar</button>
            <button style="margin-left: 5px;" class="btn btn-dark btn-sm" routerLink="/admin"> Volver</button>

        </div>

        <br>
    </form>
</div>